.cta-flex {
    display: flex;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    padding: 30px;
}

.cta-flex h2 {
    color: var(--heading-color-td)
}

.cta-flex > div:first-child {
    width: 70%;
}
.cta-flex .button-container a.button:any-link {
    background-color: rgb(10, 126, 10);
    border-radius: 0;
    color: white;
    font-weight: 700;
    font-size: large;
    padding-right: 140px;
    padding-left: 140px;
}

.cta-flex .button-container a.button:any-link:hover {
    background-color: rgb(7, 102, 7);
    border-radius: 0;
    color: white;
    font-weight: 700;
    font-size: large;
    padding-right: 140px;
    padding-left: 140px;
}