.deposit-bottom {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    text-align: center;     /* Centers text inside the items if needed */
    height: 100%;           /* Ensure the container has a height if needed */
    padding-bottom: 10px;
    padding-top: 10px;
}

.deposit-bottom h2 {
    color: green;
}