.deposit-bottom {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    text-align: center;     /* Centers text inside the items if needed */
    height: 100%;           /* Ensure the container has a height if needed */
    padding-bottom: 10px;
    padding-top: 10px;
}

.deposit-bottom h2 {
    color: rgb(0, 62, 0);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deposit-bottom img{
    width: 150px;
    height: auto;
    padding: 20px;
}

.deposit-bottom p{
    font-size: 15px;
}