.heading {
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    text-align: center;
}

.heading h2 {
    color: var(--heading-color-td);
}