.image-info-container {
    display: flex;
    background-color: rgb(236, 247, 232);
    display: flex;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    padding: 30px;
}

.image-info-container > .default-content-wrapper {
    margin: 0;
    padding: 0;
}

.image-info > div:first-child {
    border: none;
}

.image-info h2 {
    color: var(--heading-color-td);
}
.image-info > div {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    border-top: solid 1px gray;
    width: 100%;
}

.image-info > div > div:last-child {
    text-align: right;
}

.image-info > div > div:first-child {
    font-weight: bold;
}